.grid-card{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: start;
    margin-top: 3rem;
    gap: 1rem;
    max-width: 130rem;

}
.card {
    box-shadow: var(--shadow-elevation-medium);
}
.card img{
  height: 30rem;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    
    
}
.card h3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}